body{
    background-color: teal;
}

h1{
margin:0% 0% 0% 10%;
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
 color:rgb(18, 185, 26);
}

h2{
    margin:0% 0% 0% 10%;    
   }

button {
    border-radius: 100%;
}

link {
 color: rgb(18, 185, 26);
}

img {
    border-radius: 30%;
    margin: 0% 0% 0% 1%;
}
