<!DOCTYPE html>
<html> 
<head>
<title>TweeterClone</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="main.css" rel="stylesheet">
</head>
<body>

<h1>Ooooops!</h1>
 
<a href="/"><u>Return home</u></a>


<script src="/jquery-3.4.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>